<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Poll Administrator</h3></div>
            <div class="panel-body">
                <input type="text" ng-model="newpoll.title">
                <button class="btn btn-primary" type="button" ng-click="addPoll()">Add Poll</button>
                <div class="row">
                    <a href="#/view" class="thumb"><button class="btn btn-primary" type="button">List</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" ng-repeat="poll in polls">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{poll.title}}</h3> <button class="btn btn-danger" type="button" ng-click="removePoll(poll)">Remove
                </button></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr ng-repeat='option in poll.polloptions'>
                        <td>{{ option.title}}</td>
                        <td><button class="btn btn-danger" type="button" ng-click="removeOption(option, poll)">Remove
                            </button></td>
                    </tr>

                    <tr>
                        <td><input type="text" ng-model="newoption.title" name="title"></td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-click="addOption(poll, newoption)">Add Poll</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>